
@{
	ViewBag.Title = "About";
}

<div class="container text-primary" style="margin-top: 20px;">
	<div style="color:darkcyan" class="text-center">
		<h1>Terms of use</h1>
		<p>You must use this like a mentch! If you try n crash my application, I will hunt you down and give you tzvei petch!</p>
	</div>
</div>
